services:
  _defaults:
    autowire: true
    autoconfigure: true
    public: false

  Nedev\ContaoTailwindBundle\:
    resource: '../src/*'
    exclude: '../src/{DependencyInjection,Entity,Tests,Kernel.php,Resources}'